
#box{
    width: 20cm;
    height: 5cm;
    margin-left: 20%;
}
.css-selector {
    background: linear-gradient(156deg, #a1c4fd, #c2e9fb, #4092b7, #114861);
    background-size: 800% 800%;

    animation: htmlcolor 30s ease infinite;
}

@keyframes htmlcolor {
    0%{background-position:0% 25%}
    50%{background-position:100% 76%}
    100%{background-position:0% 25%}
}
#reset{
    color: white;
}
h1,h3{
    font-family: 'Poppins', sans-serif;
    text-align: center; 
}
#demo, #demo1,#demo2,#demo3{
    font-family: 'Poppins', sans-serif;
    font-size: 1cm;
}


td,table{
    border: black 2px solid ;
    border-collapse: collapse;
}
td{
    text-align: center;
    padding: 5px;
}
table{
    position: absolute;
    left: 15%;
}
input{
    font-size: large;
    position: relative;
    left: 14.5cm;
    padding: 6px 18px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);    text-decoration: wavy;
    margin-top: .5cm;
    opacity: .8;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 40px;
    
}
input:hover{
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);    
    opacity: 1;
    transform: scale(1.1);
}
textarea{
    background-color: #e2e2e2;
    
}

hr{
    width: 5.7cm;
    position: absolute;
    left: 42%;
    top: 1.4cm;
    animation: increase 2s ease infinite;
}

@keyframes increase{
    0%{
        width: 0;
    }
    50%{
        width: 1.75cm;
    }
    100%{
        width: 5.5cm;
    }
}